<div class="container text-center">
  <a
    class="btn btn-outline-primary"
    routerLink="/race/add"
    routerLinkActive="active"
    ><i class="fa-solid fa-plus"></i
  ></a>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- <ng-container *ngIf="isLoading$ | async">
      <span class="indicator-progress" [style.display]="'block'">
        Please wait...
        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
      </span>
    </ng-container>
    <ng-container *ngIf="(isLoading$ | async) === false">
      <span class="indicator-label">Continue</span>
    </ng-container> -->
    <div *ngFor="let race of listRace" class="col">
      <div class="card h-100">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <h5 class="card-title">{{ race.nome }}</h5>
          <p class="card-text"><strong>Pista: </strong> {{ race.pista }}</p>
          <p class="card-text">
            <strong>Data: </strong
            >{{ race.data.toISOString() | date : "dd/MM/yyyy HH:mm" }}
          </p>
          <p class="card-text"><strong>Durata: </strong> {{ race.durata }}</p>
        </div>
      </div>
    </div>
  </div>
  <!--
      <div class="table-responsive text-nowrap">
    <table datatable [dtOptions]="dtOptions" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Pista</th>
          <th scope="col">Data Inizio</th>
          <th scope="col">Durata</th>
          <th scope="col">Data Inizio Effettivo</th>
          <th scope="col">Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Gara Endurance 4h Iscaro</td>
          <td>Iscaro</td>
          <td>23/03/2023</td>
          <td>2h</td>
          <td>23/03/2023 20:30:14</td>
          <td><a class="btn text-white btn-floating m-1" style="background-color: #0956fb;" href="#!" role="button"><i
                class="fa fa-pencil"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>
