<!--l'HTML di layout contiene il richiamo dei component di header, footer e container -->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- begin:: Drawers -->
<!-- <app-activity-drawer></app-activity-drawer>
<app-explore-main-drawer></app-explore-main-drawer>
<app-messenger-drawer></app-messenger-drawer> -->
<!-- end:: Drawers -->

<!-- begin:: Modals -->
<!-- <app-main-modal></app-main-modal>
<app-invite-users-modal></app-invite-users-modal>
<app-upgrade-plan-modal></app-upgrade-plan-modal> -->
<!-- end:: Modals -->